<h1>Post-Idea!</h1>
<p>Post-Idea!はアイデアを収集・整理するWebサービスです</p>
<p>みんなでアイデアを出して付箋を増やそう！！</p>
<% if user_signed_in? %>
	<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
	<%= link_to "マイページへ", user_path(current_user) %>
	<br><br>
	<%= form_for @post do |f| %>
		<%= f.text_area :content, class: 'form-control',size: "40x5", placeholder: "アイデアを投稿してみよう！"%>
		<%= f.submit '投稿する',:class=>"kadomaru" %>
	<% end %>
<% end %>
<hr>
<h2>アイデア一覧</h2>
<div class="flexitem">
<% @posts.each do |post| %>
	<div class="fusen-001">
		<p><strong><%= post.user.name %></strong></p>
		<p class="font1"><%= post.content %></p>
		<div class="button03"><a href="/posts/<%= post.id %>">コメントする</a></div>
	</div>
<% end %>
</div>
<% if not user_signed_in? %>
	<%= link_to "ユーザー登録", new_user_registration_path %>
	<%= link_to "ログイン", new_user_session_path %>
<% end %>