<h1>Post-Idea!</h1>
<p>Post-Idea!はアイデアを収集・整理するWebサービスです</p>
<% if user_signed_in? %>
	<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
	<%= link_to "マイページへ", user_path(current_user) %>
	<%= form_for @post do |f| %>
		<%= f.text_area :content, class: 'form-control',size: "40x5"%>
		<%= f.submit '投稿する',:class=>"kadomaru" %>
	<% end %>
<% end %>
<hr>
<h2>アイデア一覧</h2>
<div class="flexitem">
<% @posts.each do |post| %>
	<div class="fusen-001">
		<script>
			SetColor(post.id);
			document.write("aab");
		</script>
		<p><%= post.content %></p>
		<a href="/users/<%= post.user.id %>"><%= post.user.name %></a>
		<p><a href="/posts/<%= post.id %>">＞コメントする</a></p>
	</div>
<% end %>
</div>
<% if not user_signed_in? %>
	<%= link_to "ユーザー登録", new_user_registration_path %>
	<%= link_to "ログイン", new_user_session_path %>
<% end %>
 <%= javascript_include_tag "posts/index.js" %>