<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Post-Idea!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static_pages/home">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static_pages/contact">Contact</a>
        </li>
      </ul>
      <% if not user_signed_in? %>
        <nav class="navbar navbar-light bg-light">
          <form class="container-fluid justify-content-start">
            <%= link_to "ログイン", new_user_session_path ,class:"btn btn-outline-success me-2"%>
          </form>
        </nav>
      <% end %>
      <% if user_signed_in? %>
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <span class="navbar-text">
              ユーザ名：<%= current_user.name %>
            </span>
          </div>
        </nav>
        <nav class="navbar navbar-light bg-light">
          <form class="container-fluid justify-content-start">
            <%= link_to "ログアウト", destroy_user_session_path, :method => :delete, class:"btn btn-outline-success me-2"%>
          </form>
        </nav>
      <% end %>
    </div>
  </div>
</nav>
<br>
<div class="jumbotron">
  <h1 class="display-4">Post-Idea!へようこそ</h1>
  <p class="lead">Post-Idea!はユーザーのアイデアを収集・管理するサービスです</p>
  <p class="lead">
    <a class="btn btn-primary" href="/static_pages/home" role="button">Learn more</a>
  </p>
</div>

<% if user_signed_in? %>
	<%= form_for @post do |f| %>
		<%= f.text_area :content, class: 'form-control',style: "width:40%",rows: "3", placeholder: "アイデアを投稿してみよう！"%>
		<%= f.submit '投稿する',:class=>"btn btn-primary" %>
	<% end %>
<% end %>
<hr>
<h2>アイデア一覧</h2>
<div class="flexitem">
<% @posts.each do |post| %>
    <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= post.user.name %></h5>
        <p class="card-text"><%= post.content%></p>
        <a href="/posts/<%= post.id %>" class="btn btn-primary btn-sm">詳細</a>
      </div>
    </div>
  </div>
<% end %>
</div>
