<h1>投稿詳細</h1>
<div class="fusen-001">
<p><strong><%= @post.user.name %></strong>  <%= @post.created_at.to_s(:datetime_jp) %></p>
<p class="font1"><%= @post.content %></p>
</div>
<%= form_with model: [@post, @comment] do |f| %>
	<div class="marginconnect"><%= f.text_field :content, :class=>"commenttext" ,placeholder:"コメントしよう！"%></div>
	<div class="marginconnect"><%= f.submit 'コメントする',:class=>"kadomaru2"%></div>
<% end %>
<hr>
<h3>コメント一覧</h3>
<div class="flexitem2">
<% @comments.each do |c| %>
	<div class="fusen-002">
		<strong><%= c.user.name %></strong>
		<%= c.content %>
	</div>
<% end %>
</div>
<br><br>
<%= link_to "ホームへ戻る", posts_path %>